* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.wrap {
 width: 80%;
 margin: 5vh auto 0;
 font-family: 'Roboto', sans-serif;
}

h1 {
 text-align: center;
 text-transform: uppercase;
 margin-bottom: 20px;
 font-family: 'Press Start 2P', cursive;
}

.game {
 display: flex;
 margin-bottom: 3vh;
}

.game div {
 height: 30vh;
 flex-grow: 1;
 margin: 10px;
 border: 3px solid gray;
}

.play {
 text-align: center;
}

.play input{
  display: block;
 height: 70px;
 font-size: 40px;
 padding: 20px;
 width: 400px;
 border: 3px solid black;
 text-align: center;
 margin: 20px auto;
}


.play button {
  width: 30%;
  text-align: center;
  padding: 17px 60px;
  font-size: 40px;
  text-transform: uppercase;
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  letter-spacing: 6px;
  transition: 0.3s linear;
  border-radius: 35px;
}

.play button:hover {
  background-color: darkred;
  font-size: 42px;
}

.panel {
 margin: 60px 0 30px;
}

.panel,.score {
  font-size: 26px;
  text-align: center;
}

.wallet {
  border: 3px solid black;
  padding: 5px 10px;
}

.panel span, .score span {
 font-weight: bold;
}

table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  margin-top: 30px;
}

th, td {
  padding: 5px 10px;
  border: 2px solid black;
}

@media (max-width: 1400px) {
 .wrap {
 width: 90%;
 }

 .play input{
  height: 60px;
  font-size: 30px;
  
 }
 .play button {
  height: 60px;
  font-size: 30px;
  padding: 0 20px ;
 }

 .play button:hover {
  font-size: 32px;
}

.panel {
  margin: 40px 0 30px;
 }

}